<div class="block w-full md:w-52 flex-none">
  <menu-active>
    <ul id="account_settings_menu" class="menu px-0">
      <li class="menu-title py-0 !bg-transparent mb-3 -mt-5">
        <a href="<%= '/' %>" class="!bg-transparent !text-neutral font-medium flex items-center space-x-0.5">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 stroke-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
          </svg>
          <span>Back</span>
        </a>
      </li>
      <li class="menu-title py-0 !bg-transparent">
        <span class="!bg-transparent">Settings</span>
      </li>
      <li></li>
      <li>
        <%= link_to 'Profile', settings_profile_index_path, class: 'text-base hover:bg-base-300' %>
      </li>
      <li>
        <%= link_to 'Account', settings_account_path, class: 'text-base hover:bg-base-300' %>
      </li>
      <% if can?(:read, EncryptedConfig.new(key: EncryptedConfig::EMAIL_SMTP_KEY, account: current_account)) && ENV['SMTP_ADDRESS'].blank? %>
        <li>
          <%= link_to 'Email', settings_email_index_path, class: 'text-base hover:bg-base-300' %>
        </li>
      <% end %>
      <% if can?(:read, EncryptedConfig.new(key: EncryptedConfig::FILES_STORAGE_KEY, account: current_account)) && ENV['S3_ATTACHMENTS_BUCKET'].blank? && ENV['GCS_BUCKET'].blank? && ENV['AZURE_CONTAINER'].blank? %>
        <li>
          <%= link_to 'Storage', settings_storage_index_path, class: 'text-base hover:bg-base-300' %>
        </li>
      <% end %>
      <li>
        <%= link_to 'IBCOS Gold', settings_ibcos_index_path, class: 'text-base hover:bg-base-300' %>
      </li>
      <% if can?(:read, AccountConfig) %>
        <li>
          <%= link_to 'Notifications', settings_notifications_path, class: 'text-base hover:bg-base-300' %>
        </li>
      <% end %>
      <% if can?(:read, EncryptedConfig.new(key: EncryptedConfig::ESIGN_CERTS_KEY, account: current_account)) %>
        <li>
          <%= link_to 'E-Signature', settings_esign_path, class: 'text-base hover:bg-base-300' %>
        </li>
      <% end %>
      <% if can?(:read, User) %>
        <li>
          <%= link_to 'Users', settings_users_path, class: 'text-base hover:bg-base-300' %>
        </li>
      <% end %>
      <% if can?(:read, AccessToken) %>
        <li>
          <%= link_to 'API', settings_api_index_path, class: 'text-base hover:bg-base-300' %>
        </li>
      <% end %>
      <% if can?(:read, WebhookUrl) %>
        <li>
          <%= link_to 'Webhooks', settings_webhooks_path, class: 'text-base hover:bg-base-300' %>
        </li>
      <% end %>
      <% if can?(:read, EncryptedConfig.new(key: 'saml_configs', account: current_account)) %>
        <li>
          <%= link_to 'SSO', settings_sso_index_path, class: 'text-base hover:bg-base-300' %>
        </li>
      <% end %>
      <% if can?(:read, McpToken) && can?(:manage, :mcp) %>
        <li>
          <%= link_to 'MCP', settings_mcp_index_path, class: 'text-base hover:bg-base-300' %>
        </li>
      <% end %>
    </ul>
  </menu-active>
</div>
